@model IEnumerable<JPortal.Models.Skill>

@{
    ViewBag.Title = "Skills";
}

<div class="myforms GreenText">
    <h2>Skills</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SkillName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfExprience)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfExprience)
                    </td>
                    <td>
                        <span class="btn btn-primary">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "whiteText" })
                        </span>
                        @{ var Url = "Skills/Delete/" + item.Id; }
                        <span class="btn btn-danger">
                            <a href=@Url onclick="JavaScript:return confirm('Are You Sure')" class="whiteText">Delete</a>
                        </span>
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
<br />
<p>
    <span class="btn btn-success">
        @Html.ActionLink("Add New Skill.", "Create", null, new { @class = "whiteText" })
    </span>
</p>
 