@*@model JPortal.Models.Passport*@

@{
    ViewBag.Title = "Passport";
}

@using (Html.BeginForm("Create", "Passports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="myforms GreenText">
        <div class="form-horizontal">
            <h2>Passport</h2>
            <hr />
            <span class="text-danger">  @Html.ValidationSummary()</span>
            <span class="field-validation-error text-danger" id="spanfile"></span>
            <div class="form-group">
                <label class="control-label col-md-2">Select Passport: </label>
                <div class="col-md-5">
                    <input type="file" id="fileToUpload" name="file" class="form-control" />
                </div>
                <div class="col-md-4">                    
                   @* <span> <img src="~/PassportsImg/default-image.png" alt="My Passport" class="img-thumbnail img-responsive" width="100" height="100"></span>*@
                    </div>
                </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <input type="submit" value="Upload Passport" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}