@model JPortal.Models.UserDetail

@{
    ViewBag.Title = "Personal Information";
}
<div class="myforms GreenText">
    <div class="form-horizontal">
        <h2>Personal Information</h2>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5  fieldtextinfo bold">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext  ">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.MiddleName)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.MiddleName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.MaritalStatu.Status)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.MaritalStatu.Status)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.Sex.Sex1)
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.Sex.Sex1)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.Country.Name)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.Country.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1  fieldtext ">
                @Html.DisplayNameFor(model => model.State.Name)
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  fieldtextinfo bold">
                @Html.DisplayFor(model => model.State.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 ">
                <br /><br />
            </div>
        </div>
    </div>
    <p>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-2">
                <span class="btn btn-primary">  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "whiteText" })  </span>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-2 col-md-offset-4 ">
                <span class="btn btn-danger">  @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "whiteText" })  </span>
                
             </div>
        </div>
        @*@Html.ActionLink("Back to List", "Index")*@
    </p>
</div>