@model JPortal.Models.Referee

@{
    ViewBag.Title = "Referee";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="myforms GreenText">
        <div class="form-horizontal">
            <h2>Referee</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PoneNumber, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.PoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Relation, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Relation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Relation, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="col-xs-12 col-sm-5 col-md-2 col-md-offset-4">
                    <span class="btn btn-primary">@Html.ActionLink("Back to List", "Index", null, new { @class = "whiteText" })</span>
                </div>
            </div>
        </div>
        </div>
        }